<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

 <title>{% block title %} Bienvenue!{% endblock %}</title>
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}" type="text/css" />
  <!--<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">-->
  <link href="{{ asset('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i') }}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{{ asset('css/sb-admin-2.min.css') }}" rel="stylesheet">


{% endblock %}
  <!-- Polices personnalisees pour ce template-->


</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Barre laterale -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Marque de la barre laterale -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="http://www.istamacameroon.com">
         <img src="{{asset('img/AHYM0607.JPG')}}" style="height: 50px "/> 
        <div class="sidebar-brand-text mx-3"> ISTAMA </div>
      </a>

      <!-- Diviseur -->
      <hr class="sidebar-divider my-0">

      <!-- Tableau de bord des elements de navigation -->
     <li class="nav-item active">
        <a class="nav-link" href="{{ path('progression_stat') }}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>{% block active %}Tableaux de bord{% endblock %}</span></a>

      </li>

      <!-- Diviseur -->
	  <hr class="sidebar-divider">
<div class="sidebar-heading">
        Interface
      </div>

<li class="nav-item">
				<a class="nav-link co" href="{{ path('progression_index') }}" data-toggle="collapse" data-target="#collapseProgression" aria-expanded="true" aria-controls="collapseProgression">
				  <i class="fas fa-fw fa-folder"></i>
				  <span>Progression</span>
				</a>
				<div id="collapseProgression" class="collapse" aria-labelledby="headingProgression" data-parent="#accordionSidebar">
				  <div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item" href="{{ path('progression_index') }}">Lister</a>
					<a class="collapse-item" href="{{ path('progression_new') }}">Creer</a>

          
						  
					</div>
				</div>
			  </li>
   
		
		<li class="nav-item">
				<a class="nav-link co" href="{{ path('matiere_index') }}" data-toggle="collapse" data-target="#collapseMatiere" aria-expanded="true" aria-controls="collapseMatiere">
				  <i class="fas fa-fw fa-folder"></i>
				  <span>Matiere</span>
				</a>
				<div id="collapseMatiere" class="collapse" aria-labelledby="headingMatiere" data-parent="#accordionSidebar">
				  <div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item" href="{{ path('matiere_index') }}">Lister</a>
					<a class="collapse-item" href="{{ path('matiere_new') }}">Creer</a>
						  
					</div>
				</div>
			  </li>

      <li class="nav-item">
        <a class="nav-link col" href="{{ path('enseignant_index') }}" data-toggle="collapse" data-target="#collapseEnseignant" aria-expanded="true" aria-controls="collapseEnseignant">
          <i class="fas fa-fw fa-folder"></i>
          <span>Enseignant</span>
        </a>
        <div id="collapseEnseignant" class="collapse " aria-labelledby="headingEnseignant" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{{ path('enseignant_index') }}">Lister</a>
            <a class="collapse-item" href="{{ path('enseignant_new') }}">Creer</a>
           		   
            </div>
        </div>
      </li>

      <li class="nav-item">
				<a class="nav-link co" href="{{ path('specialite_index') }}" data-toggle="collapse" data-target="#collapseSpecialite" aria-expanded="true" aria-controls="collapseSpecialite">
				  <i class="fas fa-fw fa-folder"></i>
				  <span>Specialite</span>
				</a>
				<div id="collapseSpecialite" class="collapse" aria-labelledby="headingSpecialite" data-parent="#accordionSidebar">
				  <div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item" href="{{ path('specialite_index') }}">Lister</a>
					<a class="collapse-item" href="{{ path('specialite_new') }}">Creer</a>
						  
					</div>
				</div>
			  </li>
	  
    <li class="nav-item">
				<a class="nav-link co" href="{{ path('niveau_index') }}" data-toggle="collapse" data-target="#collapseNiveau" aria-expanded="true" aria-controls="collapseNiveau">
				  <i class="fas fa-fw fa-folder"></i>
				  <span>Niveau</span>
				</a>
				<div id="collapseNiveau" class="collapse" aria-labelledby="headingNiveau" data-parent="#accordionSidebar">
				  <div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item" href="{{ path('niveau_index') }}">Lister</a>
					<a class="collapse-item" href="{{ path('niveau_new') }}">Creer</a>
						  
					</div>
				</div>
			  </li>

<li class="nav-item">
				<a class="nav-link co" href="{{ path('filiere_index') }}" data-toggle="collapse" data-target="#collapseFiliere" aria-expanded="true" aria-controls="collapseFiliere">
				  <i class="fas fa-fw fa-folder"></i>
				  <span>Filiere</span>
				</a>
				<div id="collapseFiliere" class="collapse" aria-labelledby="headingFiliere" data-parent="#accordionSidebar">
				  <div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item" href="{{ path('filiere_index') }}">Lister</a>
					<a class="collapse-item" href="{{ path('filiere_new') }}">Creer</a>
						  
					</div>
				</div>
			  </li>

<li class="nav-item">
				<a class="nav-link co" href="{{ path('seance_index') }}" data-toggle="collapse" data-target="#collapseSeance" aria-expanded="true" aria-controls="collapseSeance">
				  <i class="fas fa-fw fa-folder"></i>
				  <span>Seance</span>
				</a>
				<div id="collapseSeance" class="collapse" aria-labelledby="headingSeance" data-parent="#accordionSidebar">
				  <div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item" href="{{ path('seance_index') }}">Lister</a>
					<a class="collapse-item" href="{{ path('seance_new') }}">Creer</a>
						  
					</div>
				</div>
			  </li>


    
      <!-- Diviseur -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Bascule de la barre laterale (la barre laterale) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- Fin de la barre laterale -->

    <!-- Contentu Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Contenu principal -->
      <div id="content">

        <!-- barre du haut -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Bascule de la barre laterale (barre du haut) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Recherche dans la barre superieure -->
         
          <form
            class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
               <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small" placeholder="Rechercher..."
                        aria-label="Search" aria-describedby="basic-addon2">
                          <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                               <i class="fas fa-search fa-sm"></i>
                            </button>
                          </div>
                </div>
          </form>

          <a href="{{path('app_login')}}">
            Deconnexion
          </a>

        <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
  

          <!-- Barre de navigation de la barre superieure -->
          <ul class="navbar-nav ml-auto">

            <!-- Element de navigation - Liste deroulant de recherche (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!--Messages deroulant -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Alerte sur les elements de navigation -->
         

   

            <div class="topbar-divider d-none d-sm-block"></div>

           

          </ul>

        </nav>
        <!-- Fin de la barre du haut-->

      
        <div class="container-fluid">

     {% block body %}{% endblock %}
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- Fin du contenu principal -->

      <!-- pied de page -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>ISTAMA Cameroun 2021</span>
          </div>
        </div>
      </footer>
      <!-- Fin de pied de page -->

    </div>
    <!-- Fin du Wrapper de contenu -->

  </div>
  <!-- Wrapper de fin de page -->

  <!-- Faire defiler jusqu'au bouton superieur-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
{% block javascripts %}

{% endblock %}
  <script src="{{asset('vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{asset('vendor/jquery-easing/jquery.easing.min.js')}}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{asset('js/sb-admin-2.min.js')}}"></script>

  <!-- Page level plugins -->
  <script src="{{asset('vendor/chart.js/Chart.min.js')}}"></script>
  <!-- Page level custom scripts -->
  <script src="{{asset('js/demo/chart-area-demo.js')}}"></script>
  <script src="{{asset('js/demo/chart-pie-demo.js')}}"></script>
  <!-- Bootstrap core JavaScript-->

</body>

</html>


